{% extends "blog/base.html" %}

{% block title %} Поделиться постом{% endblock %}
{% block content %}
    {% if sent %}
        <h1>E-mail успешно отправлен</h1>
        <p>
            "{{ post.title }}" был успешно отправлен {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Поделиться {{ post.title }} через e-mail</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
        <input type="submit" value="Отправить e-mail">
        </form>
    {% endif %}
{% endblock %}